.row
    .col-sm-6.room-bottom
        .card(ng-style="{ 'background-image': 'url({{ vm.track.artwork_url }})' }")
            .card-title
                |   {{ vm.track.title }}
            span(audio-player stream="vm.track.stream_url")
    .col-sm-6
        pre
            |   {{ vm.track | json }}
